apt-xapian-index==0.45
apturl===0.4.1ubuntu4
argcomplete==0.6.9
argh==0.24.1
barman==1.3.0
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
chardet==2.0.1
command-not-found==0.3
configglue==1.1.2
configobj==4.7.2
debtagshw==0.1
defer==1.0.6
dirspec==13.10
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.2
django-easy-pjax==1.2.0
django-grappelli==2.7.1
django-material==0.3.0
django-postgrespool==0.3.0
django-toolbelt==0.0.1
dnspython==1.11.1
Dockbarx==0.91.4
duplicity==0.6.23
feedparser==5.1.3
freeze==1.0.9
gunicorn==19.3.0
httplib2==0.8
kaa-base==0.99.1
kaa-metadata==0.7.8
lockfile==0.8
lxml==3.3.3
Mako==0.9.1
MarkupSafe==0.18
mirovideoconverter==3.0.2
mutagen==1.22
mysql-connector-python==1.1.6
numpy==1.8.2
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
openshot==1.4.3
PAM==0.4.2
paramiko==1.10.1
pexpect==3.1
Pillow==2.3.0
piston-mini-client==0.7.5
protobuf==2.5.0
psycopg2==2.6
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pyinotify==0.9.4
pyOpenSSL==0.13
pyPdf==1.13
pyserial==2.6
pysmbc==1.0.14.1
pysqlite==1.0.1
python-apt===0.9.3.5ubuntu1
python-dateutil==1.5
python-debian===0.1.21-nmu2ubuntu2
python-xlib==0.14
pyxdg==0.25
reportlab==3.0
requests==2.7.0
sessioninstaller==0.0.0
simplejson==3.3.1
six==1.5.2
SQLAlchemy==1.0.4
static3==0.6.1
system-service==0.1.6
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
urllib3==1.7.1
uTidylib==0.2
vboxapi==1.0
virtualenv==13.0.3
wheel==0.24.0
whitenoise==1.0.6
wxPython==2.8.12.1
wxPython-common==2.8.12.1
zope.interface==4.0.5
